<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Hop</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocRar</string>
			<key>CFBundleTypeName</key>
			<string>RAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocZip</string>
			<key>CFBundleTypeName</key>
			<string>ZIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Doc7z</string>
			<key>CFBundleTypeName</key>
			<string>7-Zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.7-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocTar</string>
			<key>CFBundleTypeName</key>
			<string>TAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocGz</string>
			<key>CFBundleTypeName</key>
			<string>Gzip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tgz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocTgz</string>
			<key>CFBundleTypeName</key>
			<string>Gzip TAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocBz2</string>
			<key>CFBundleTypeName</key>
			<string>Bzip2 Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.bzip2-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocXz</string>
			<key>CFBundleTypeName</key>
			<string>XZ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tukaani.xz-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>torrent</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocTorrent</string>
			<key>CFBundleTypeName</key>
			<string>BitTorrent Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bittorrent.torrent</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Hop</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.antonshakirov.minimo</string>
	<key>CFBundleName</key>
	<string>Hop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.antonshakirov.minimo.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hop</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Hop writes unpacked archives and new archives to your Desktop.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Hop writes unpacked archives and converted files where you ask it to.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Hop saves converted files and downloads where you ask it to.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Anton Shakirov</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BitTorrent file</string>
			<key>UTTypeIdentifier</key>
			<string>org.bittorrent.torrent</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>torrent</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-bittorrent</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
